<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="text-center" style="margin-bottom: 30px;">
      <h2>Register with Medium</h2>
      <p style="color: #7ac673; font-size: 16px;">This page uses 128-bit encryption</p>
    </div>
    <%= render 'form' %>
  </div>
</div>