<div class="text-center">
  <h1 class="hero-title">Medium</h1>
  <p style="font-size:22px;">Everyone's stories and ideas</p>
  <%= link_to "Learn more", "#", class: "btn btn-default" %>
</div>
<% @posts.each do |post| %>
  <div class="row">
    <div class="col-sm-1">

    </div>
    <div class="col-sm-11">
      <h3><%= post.title %></h3>
      Submitted by <%= post.user.first_name %>
    </div>
  </div>
<% end %>